# Build and Bins
/.gradle/
/build/
/bin/
/out/

#
/.metadata/
/gradle/
CREDITS-fml.txt
LICENSE-fml.txt
forge*changelog.txt
MinecraftForge-*.txt


# IDEs
.classpath
.project
.settings/
.idea/
eclipse/*
*.iml
*.ipr
*.iws

# System
Thumbs.db
.DS_Store